.userName,
.contact {
    width: 100%;
}

.table-row.header,
.table-row.body {
    display: flex;
    flex-direction: row;
}

.table-row.header {
    background-color: cornflowerblue;
    color: white;
}

.table-container {
    margin: auto;
    width: 50%;
}

.header>div,
.body>div {
    width: 33%;
    padding: 2%;
}

.table-container {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}


/* On mouse-over, add a deeper shadow */

.table-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}